/* It's important to remove the browser's native smooth scrolling */
/* as it can interfere with Lenis. */
html {
  scroll-behavior: auto !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Add some extra height to the body to ensure scrolling is possible for testing */
  min-height: 150vh; 
}

/* Other global styles */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
